html {
  font-size: 20px;
}

body {
  margin: 0 auto;
  width: 1320px;
}

header {
  position: sticky;
  top: 0px;
  right: 0px;
  z-index: 50;
}

/* ESTILO BARRA NAVEGACION */
.ojo {
  width: 40%;
  height: 15%;
  margin-left: 100px;
}

a.principal {
  color: #00008B !important;
}

a.secundaria {
  display: flex;
  justify-content: space-evenly;
  font-family: "Montserrat", sans-serif !important;
  color: grey;
}

#menu {
  margin: 10%;
  padding: 5%;
}

.botonInicio {
  color: yellow;
  text-decoration: none;
  font-family: "Dosis", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "PT Sans", sans-serif;
  font-family: "Rubik", sans-serif;
}

.textoMenu {
  justify-content: center;
  justify-content: space-around;
  margin: 0 auto;
}

/* ESTILO LOGOTIPO PRINCIPAL */
.logotipo {
  float: inline-start;
  width: 15%;
  height: auto;
  position: relative;
}

.textoLogotipo {
  font-family: "Hammersmith One", sans-serif;
  font-size: 45px;
}

.subtextoLogotipo {
  font-family: "Hammersmith One", sans-serif;
  font-size: 16px;
}

/* ESTILO ESLOGAN Y PROMOCION */
.eslogan {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  background-color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  color: yellow;
  font-size: 27px;
  width: 100%;
}

.descuento {
  display: flex;
  font-family: "Quicksand", sans-serif;
  flex-direction: row;
  flex-wrap: wrap;
  color: black;
  font-size: 35px;
  position: relative;
  top: 30px;
  justify-content: center;
  width: 100%;
  text-align: center;
}

h3.descuento:hover {
  color: #000;
}

/* SLIDER */
.slider {
  width: 1320px;
  height: 560px;
  margin: 0 auto;
  margin-top: 50px;
  overflow: hidden;
}
.slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite alternate linear;
}
.slider li {
  width: 100%;
  list-style: none;
}
.slider img {
  width: 100%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

/* PARTE PRINCIPAL DEL SITIO WEB */
.parrafo {
  text-align: center;
  margin-top: 100px;
  font-family: "Montserrat", sans-serif, "Arial";
  font-size: 40px;
}

.empresas {
  display: flex;
  justify-content: center;
  /* margin-top:-800px; */
}

/* ICONOS NUESTROS PARTE SECUNDARIA */
.iconos {
  padding: 4rem 0;
}
.iconos img {
  width: 4rem;
  filter: invert(28%) sepia(100%) hue-rotate(-180deg) saturate(3);
}
.iconos .cols {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: nowrap;
  color: grey;
  text-align: center;
}
.iconos .cols .col h3 {
  font-weight: 600;
  font-family: sans-serif;
}
.iconos .cols .col h3 .col p {
  color: #444;
  line-height: 1.5;
  font-family: "Rubik" sans-serif;
}

/* GALERIA DE FOTOS */
.galeria img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 3s;
  animation: cambio infinite alternate;
}

.galeria input[type=radio] {
  position: relative;
  bottom: calc(-300px - 1.5em);
  left: 0.5em;
}

.galeria {
  height: calc(300px + 3em);
  width: 600px;
  margin: 1em auto;
  border: 2px solid #05078f;
  position: relative;
}
.galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
  opacity: 1;
}
.galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
  opacity: 1;
}
.galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
  opacity: 1;
}
.galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
  opacity: 1;
}
.galeria input[type=radio]:nth-of-type(5):checked ~ img:nth-of-type(5) {
  opacity: 1;
}
.galeria input[type=radio]:nth-of-type(6):checked ~ img:nth-of-type(6) {
  opacity: 1;
}
.galeria input[type=radio]:nth-of-type(7):checked ~ img:nth-of-type(7) {
  opacity: 1;
}

/* QUIENES SOMOS  */
.nosotros {
  text-align: left;
  margin-top: 60px;
  font-family: "Montserrat", sans-serif, "Arial";
  font-size: 25px;
  line-height: 55px;
}

/* PRODUCTOS */
div#productos {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 70px;
  position: relative;
  top: 50px;
}

#camaras img {
  margin: 0 15px;
}

#alarmas img {
  margin: 0 20px;
}

#cerco {
  margin: 0 40px;
}

/* TITULO PRODUCTOS */
h1.tituloProductos {
  font-family: "Montserrat", sans-serif, "Arial";
  font-style: oblique;
  font-size: 50px;
  line-height: 55px;
  text-decoration: black;
  margin-top: 100px;
  text-decoration-line: underline;
  text-align: center;
}

/*NUESTROS KITS*/
div#kits {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 70px;
  position: relative;
  top: 50px;
}

/* FORMULARIO DE CONTACTO */
.formulario {
  border: solid 5px;
  color: blue;
  border-radius: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  position: relative;
  top: 65px;
  overflow: hidden;
}

.contact {
  color: grey;
  font-family: "Rubik" sans-serif;
  text-align: center;
}

.forminterno {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif, "Arial";
}

.botonformulario {
  display: flex;
  justify-content: center;
  text-align: center;
}

.bottonForm {
  color: mediumblue;
}

/* FORMAS DE PAGO */
#formasDePago {
  align-content: center;
  display: grid;
  grid-template-rows: 100px 100px;
  grid-gap: 15px;
  justify-content: space-around;
  position: relative;
  top: -150px;
}

.grid-item1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-items: center;
}

.grid-item2 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-items: center;
}

.grid-item3 {
  grid-column-start: 11;
  grid-column-end: 14;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-items: center;
}

.grid-item4 {
  grid-column-start: 16;
  grid-column-end: 19;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-items: center;
}

.grid-item5 {
  grid-column-start: 21;
  grid-column-end: 24;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-items: center;
}

.titulo {
  font-family: "Dosis", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "PT Sans", sans-serif;
  font-family: "Rubik", sans-serif;
}

/* CONTACTANOS POR WHATSAPP */
section h2 .whatsapp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Dosis", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "PT Sans", sans-serif;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  color: white;
  background-color: limegreen;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  top: 600px;
}

.lema {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  font-family: "Benne", serif;
  font-style: italic;
  font-size: 35px;
  text-align: center;
  margin-top: -150px;
}

/* MAPA */
.ubicacion {
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
  position: relative;
  margin-left: 53%;
  top: 150px;
}

section div.mapa {
  display: block;
  border: solid;
  top: -280px;
  position: relative;
}

.especificacionUbicacion {
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 25px;
  position: relative;
  margin-left: 47%;
  top: 150px;
  line-height: 50px;
}

/*REDES SOCIALES */
.sticky-container {
  padding: 0px;
  margin: 0px;
  position: fixed;
  right: -130px;
  top: 230px;
  width: 210px;
  z-index: 1100;
}

.sticky li {
  list-style-type: none;
  background-color: #fff;
  color: #efefef;
  height: 43px;
  padding: 0px;
  margin: 0px 0px 1px 0px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.sticky li:hover {
  margin-left: -115px;
}

.sticky li img {
  float: left;
  margin: 5px 4px;
  margin-right: 5px;
}

.sticky li p {
  padding-top: 5px;
  margin: 0px;
  line-height: 16px;
  font-size: 11px;
}

.sticky li p a {
  text-decoration: none;
  color: #2c3539;
}

.sticky li p a:hover {
  text-decoration: underline;
}

/* PIE DE PAGINA  */
#scroll-top {
  background-color: #1f9595;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 2px;
  z-index: 100;
}

.footer {
  height: 400px;
  margin: 0% auto;
  width: 100%;
  background-image: url(/img/imagenes/25708.png);
  background-repeat: no-repeat;
  position: relative;
  top: 80px;
  z-index: "0";
}

.bg {
  background-color: black;
  width: 1320px;
  height: 110px;
}

.direccion {
  display: inline-block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  position: relative;
  left: 720px;
  top: 300px;
  text-align: center;
}

.horario {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
  position: relative;
  left: 50px;
  top: -50px;
  color: #000000;
}

.formasDePago:hover {
  color: #eb8f6e;
}

.copyright {
  display: flex;
  font-family: "Noto Sans", sans-serif;
  font-size: large;
  justify-content: center;
  margin-top: -32px;
  color: white;
}/*# sourceMappingURL=estilos.css.map */