$rojo: red;
$azul: blue;
$amarillo: yellow;
$verde: green;
$negro: black;
$blanco:white;
$violeta: purple;
$naranja:orange;
$oro: gold;
$rosa: pink;
$beige: beige;
$marron:brown;
$gris:grey;
$plateado:silver;
$fucsia:fuchsia;
$azuloscuro:#00008B
